


@font-face {
    font-family:GothamRounded;
    src: url('GothamRounded-Book.otf');
   
    
}

*{
box-sizing:border-box;
 font-family:GothamRounded;
}
a:link{
text-decoration:none;}
a:hover.bet{
color:#303030;
}
a:hover.bet1{
color:darkgreen;}

.bet1{
color:lightgreen;height:50px;margin-top:15px;padding-top:17px;}

.elm1{
opacity:1.0;
background-color:white;
top:0px;
left:0px;
width:400px;
height:70px;
position:fixed;
z-index:1;



}
.elm1 div.imgftr1{
float:left;
margin-top:10px;
margin-left:30px;
width:200px;
height:70px;
display:inline-block;
color:lightgreen;
font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;

}

.topnav {
opacity:1.0;
background-color:white;
top:0px;
left:0px;
right:0px;
z-index:2;
width:980px;
height:70px;
left:300px;
 font-family:GothamRounded;
position:fixed;

}
.topnav a{
color:grey;
float:right;
margin-top:30px;
width:50px;
margin-left:30px;
width:100px;
display:inline-block;}

.elm2{
 background-image: url(bg.jpg);
 background-size: cover;
background-attachment:fixed;
left:3px;
right:0px;
position:relative;
width:98%;
top:50px;

padding-top:50px;
height:800px;
}

.box1{
position:absolute;

color:white;
width:550px;
height:400px;
margin-left:50px;
top:80px;
padding-top:100px;
padding-bottom:100px;
font-size:25px;

}

.box2{
position:absolute;
right:50px;

top:100px;
width:550px;
height:450px;

}

.box2 #hed{
text-align:center;
padding:25px;
height:70px;
background-color:#E8E8E8;}

.box3{
position:absolute;
top:600px;
color:white;
text-align:center;
font-size:30px;
padding:20px;
left:20px;
height:100px;
width:100%;
text-align:center;
}




#spl1{
 border-bottom: 2px solid #ddd;}

#yo{

position:relative;
background-image:url(back3.png);
background-size:cover;
background-color:ghostwhite;
top:0px;
width:100%;
height:580px;
z-index:-1;
}

.imgftr{
width:100%;
height:100%;}


.box4{
position:absolute;
left:50px;
margin-top:80px;

width:760px;
height:410px;
margin-bottom:80px;
border:none;

}

.box5{
position:absolute;
right:50px;
 font-family:GothamRounded;
top:80px;
color:grey;
width:400px;
height:200px;
text-align:left;
padding-left:30px;


}

.box6{
position:absolute;
 
top:230px;
right:100px;
width:400px;
height:300px;
text-align:left;
padding-left:0px;


}
.elm4{

margin-top:0px;
height:600px;
width:1270px;
background-color:ghostwhite;
}



.box7{

float:left;
font-family:GothamRounded-Book.otf;
margin-left:20px;
margin-top:50px;
width:600px;
height:600px;
text-align:left;
color:grey;
 font-family:GothamRounded;
padding-top:0px;
font-size:20px;

}
.box8{
float:right;
margin-right:20px;
margin-top:50px;
width:500px;
 font-family:GothamRounded;
height:600px;
text-align:left;
color:grey;
z-index:-1;
padding-top:0px;
font-size:20px;
}

.elm5{

text-align:center;

width:100%;
height:400px;
font-family:GothamRounded-Book.otf;
padding-top:50px;

}
.elm6{
width:100%;
height:50px;
margin-top:80px;}
.imgftr{
width:300px;
height:350px;
padding-top:20px;
font-size:30px;
margin-left:100px;}


.elm7{

text-align:center;

width:100%;
height:500px;
background-image:url(bg3.jpg);
color:white;
font-family:GothamRounded-Book.otf;
padding-top:30px;
font-size:20px;

}

.elm8{
position:relative;
text-align:center;

width:100%;
height:300px;

padding-top:50px;
background-color:ghostwhite;

}

.box9{
position:absolute;
width:20%;
left:0px;
height:200px;
}
.box10{
position:absolute;
width:20%;
left:30%;
 font-family:GothamRounded;
text-align:left;
color:grey;
padding-top:30px;
height:200px;
}
.box11{
position:absolute;
 font-family:GothamRounded;
width:20%;
left:50%;
text-align:left;
padding-top:30px;
height:200px;


}
.box12{
position:absolute;
display:inline-block;
width:20%;
right:0px;
height:200px;

}

.imgftr2{

padding-top:20px;
float:left;
width:40px;
height:50px;}

.fom0{
width:100%;
height:375px;
background-color:white;
}



.fom1{
padding-top:20px;
font-size:20px;
padding-left:30px;
color:	#404040;
float:left;
width:50%;
height:100px;
}

.fom2{
padding-top:20px;
font-size:20px;
color:	#404040;
float:right;
width:50%;
height:100px;
}

.fom3{
height:50;
padding-left:30px;

}
.fom4{
height:155px;
padding-top:50px;
padding-left:25px;
border-radius:0px 0px 5px 5px;
}

.btn
{
background-color:limegreen;
color:white;
height:50px;
width:150px;
font-size:20px;
padding-top:10px;
margin-left:550px;
border-radius:5px;
}
.bet{
color:grey;}

#fname{
height:45px;
width:230px;
background-color:ghostwhite;
border-style:solid;
border-color:lightgrey;
border-radius:5px 5px 5px 5px;}

#lname{
height:45px;
width:230px;
border-style:solid;
background-color:ghostwhite;
border-color:lightgrey;
border-radius:5px 5px 5px 5px;
}
input:hover{
border-style:solid;

border-color:#404040;
}


#emailid{
height:45px;
width:230px;
border-style:solid;
background-color:ghostwhite;
border-color:lightgrey;
border-radius:5px 5px 5px 5px;}


#pass{
height:45px;
width:230px;
border-style:solid;
background-color:ghostwhite;
border-color:lightgrey;
border-radius:5px 5px 5px 5px;}


#terms{
border-style:solid;
background-color:ghostwhite;
border-color:lightgrey;
}









